.collections-overview {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 920px) {
    .collections-overview {
      width: 100vw;
      display: flex;
      
      
    }
  }